* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/bgmovie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-right: 1em;
  color: white;
}
.notification {
  text-align: center;
}
.notification p {
  display: inline;
  background-color: #ff9800;
}
td {
  color: white;
}
.smallBox::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}
.greenBox::before {
  content: "";
  background-color: green;
  border: 1px solid green;
}
.redBox::before {
  content: "";
  background-color: red;
  border: 1px solid red;
}

.whiteBox::before {
  content: "";
  background-color: white;
  border: 1px solid orange;
}

.seats-form {
  width: 700px;
}
.note-seats {
  width: 100%;
  display: flex;
  justify-content: center;
}
.select-content {
  width: 100%;
}

.containerCinema {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
}
.ghe {
    border: 3px solid orange;
    width: 25px;
    height: 20px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }

.rowNumber {
  width: 25px;
  height: 20px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 2%;
  color: white;
}

.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.gheDuocChon {
  border: 3px solid orange;
  width: 25px;
  height: 20px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
}

.gheDangChon {
  border: 3px solid orange;
  width: 25px;
  height: 20px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: green;
  cursor: pointer;
}
.screen-center{
  background: orange;

}
